<div class="header" id="navbar">
  <a class="title" href="/">
    <img src="./images/icon.png" alt="icon" />
    <h2>STORE</h2>
  </a>
  <div>
    <a href="/#home">Home</a>
    <a href="/cart" class="cart-icon" style="color: antiquewhite">
      <p>Cart <i class="fas fa-shopping-cart"></i></p>
      <span class="item-number">0</span>
    </a>
  </div>
</div>
