<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
    <!-- Start Landing Page -->
    <div class="banner" id="home">
      <div class="content">
        <div
          class="container"
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            gap: 20px;
          "
        >
          <h1>No item is added in the cart!</h1>
          <a
            href="/"
            class="btn btn-success placeOrderBtn"
            style="border: 1px solid #88882d; text-decoration: none"
            >Add something to cart!</a
          >
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-content">
        <p>Copyright &copy; 2023 Game Store</p>
      </div>
    </footer>
  </body>
</html>
