@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Righteous&display=swap");
:root {
  --primary: #18253c;
  --secondary: #00752d;
  --secondary2: #00be49;
  --secondary3: #009238;
  --bg: #0e1523;
}

* {
  margin: 0;
  padding: 0;
  color: #ffbcbc;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: var(--bg);
  overflow-x: hidden;
  padding-bottom: 100px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s, padding 0.3s;
  z-index: 300;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  background-color: #0e152399;
}

.header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--secondary2);
  width: 400px;
}

.header .title h2 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Righteous", cursive;
}

.header .title img {
  width: 100px;
}

.header a {
  text-decoration: none;
  color: var(--secondary2);
  font-size: 1.5rem;
  margin-right: 20px;
}

.banner {
  position: relative;
  padding: 200px 200px 150px;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #18253c;
}

.content {
  position: relative;
}
.content {
  background-color: 0e152355;
  border: 1px solid var(--secondary2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
}

.info {
  flex: 1;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  height: 20rem;
  color: #ffbcbc;
  justify-content: space-between;
}

.info h1 {
  font-size: 4rem;
}
.info p {
  font-size: 1.5rem;
}

.image {
  flex: 1;
  text-align: right;
}

.image img {
  max-width: 100%;
  height: auto;
}

.banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, var(--bg));
  opacity: 1;
}

.services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  gap: 60px;
  margin-bottom: 60px;
}

.service {
  color: #ffbcbc;
  border: 2px solid #ffbcbc;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.service i {
  font-size: 4rem;
}
.service h3 {
  font-size: 1.5rem;
}
.slideDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 100rem;
  overflow: hidden;
  position: relative;
  font: normal 1rem sans-serif;
}

.cards {
  left: 0;
  position: relative;
  padding: 1rem;
  display: flex;
  transition: left 0.5s;
}

.card {
  position: relative;
  min-width: 17rem;
  height: 23rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.6rem #0003;
  transition: 0.2s ease-in-out;
}

.card:not(:first-child) {
  margin-left: 3rem;
}
.card:first-child {
  margin-left: 0.4rem;
}

.card:hover {
  border: 0.1rem solid var(--secondary);
  transform: scale(1.05);
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  background-color: var(--secondary);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  z-index: 100;
}

.card::before {
  top: -6%;
  transition-property: transform border-radius;
  left: calc(50% - 4.5rem);
  width: 9rem;
  height: 9rem;
}

.card::after {
  transition-property: transform;
  bottom: -6%;
  left: -6%;
  width: 5rem;
  height: 5rem;
}

.card:hover::before {
  border-radius: 0;
  transform: scale(2.5);
}

.card:hover::after {
  transform: scale(0);
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 200;
}

.card-img,
.card-title {
  transform: translateY(2.5rem);
  transition: transform 0.2s ease-in-out;
}

.card-img {
  width: auto;
  height: 9.5rem;
}

.card-title {
  font-size: 1rem;
  text-transform: capitalize;
  transition-delay: 0.1s;
}

.card-body {
  transform: translateY(8rem);
  transition: transform 0.2s ease-in-out;
}

.card-body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-delay: 0.2s;
}

.card:hover .card-img,
.card:hover .card-title,
.card:hover .card-body,
.card:hover .card-footer {
  transform: translateY(0);
}

.card-body {
  transition-delay: 0.1s;
}

.star {
  font-size: 1.4rem;
  color: gold;
}

.card-price {
  font: bolder 1.5rem sans-serif;
}

.cart-icon {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00be49;
  border-radius: 25px;
  cursor: pointer;
}

.cart-icon .item-number {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.8rem 1.8rem;
  background-color: unset;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}

.btn-success {
  transition: background-color 0.1s;
  background-color: var(--secondary);
}
.btn-banner {
  text-decoration: none;
  text-align: center;
  transition: background-color 0.1s;
  background-color: var(--secondary2);
}

.btn-banner:hover {
  background-color: var(--secondary3);
}

.btn-success:hover {
  background-color: var(--secondary2);
}
.btn-success:active {
  background-color: var(--secondary3);
}

.btn-border {
  border: 0.1rem solid var(--secondary);
  transition: border 0.1s;
}

.btn-border:hover {
  border: 0.1rem solid var(--secondary3);
}

.arrow {
  position: absolute;
  top: calc(50% - 1.5rem);
  width: 3rem;
  cursor: pointer;
  aspect-ratio: 1;
  user-select: none;
  background-color: #242424;
  border-radius: 50%;
  border: 1px solid #00be49;
  font: 800 1.5rem sans-serif;
  line-height: 3rem;
  text-align: center;
  z-index: 300;
}

.arrow:hover {
  background-color: #2e2e2e;
}
.arrow:active {
  background-color: #202020;
}

.arrow.right {
  right: 0;
}

.newsletter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  color: #ffbcbc;
  height: 500px;
  background-image: url("./images/subs.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #0009;
}
.newsletter::before,
.newsletter::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 1;
}
.newsletter::before {
  top: 0;
  background: linear-gradient(var(--bg), transparent);
}

.newsletter::after {
  bottom: 0;
  background: linear-gradient(transparent, var(--bg));
}

.subscribe-container {
  display: inline-flex;
  border-radius: 20px;
  overflow: hidden;
}

.subscribe-container input[type="text"] {
  border: none;
  width: 500px;
  border-radius: 20px 0 0 20px;
  padding: 20px;
  outline: none;
  font-size: 1.5rem;
}

.subscribe-container button {
  background-color: var(--secondary3);
  font-size: 1.5rem;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
}

footer {
  text-align: center;
  padding: 50px;
  color: #ffbcbc;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#paymentDiv {
  display: none;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 5000;
  border-radius: 5px;
  flex-direction: column;
}

#paymentForm {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#paymentForm label {
  display: block;
  margin-bottom: 10px;
}

#paymentForm input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  color: #18253c;
  border-radius: 4px;
  margin-bottom: 10px;
}

#paymentForm button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#orderStatus {
  width: 100%;
  height: 100vh;
  display: none;
  font-size: 60px;
  z-index: 500;
  position: fixed;
  top: 0;
  background-color: #0e1b30ec;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Cart page */
.cartItem,
.paymentDetails {
  margin: 18px auto;
  padding: 18px;
  width: 100%;
  min-height: 130px;
  background-color: #0e1b30ec;
  border: 1px solid #00be49;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paymentDetails {
  width: 30%;
  margin-top: 36px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.cartItem:nth-child(1) {
  margin-top: 36px;
}

.cartItem div {
  display: flex;
  align-items: center;
}

.cartItem div .cartImgDiv {
  width: 90px;
  aspect-ratio: 1;
  margin-right: 10px;
  overflow: hidden;
}

.cartItem div .cartImgDiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart_container {
  width: 60%;
}

#closebtn {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 50px;
}
